body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  th {
      text-align: left;
  }

  .ProductCategoryRow {
    font-weight: bold;
}

.OutOfStock {
    color: red;
}

  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
    